[DEFAULT]
debug = True
log_dir = /var/log/glance

[database]
connection = mysql+pymysql://glance:glance@controller/{{glance_database}}

[keystone_authtoken]
auth_uri = http://controller:5000
auth_url = http://controller:35357
memcached_servers = controller:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = glance
password = glance

[paste_deploy]
flavor = keystone
