[DEFAULT]
admin_token = {{admin_token}}
debug = True
log_dir = /var/log/keystone

[database]
connection = mysql+pymysql://keystone:keystone@controller/{{keystone_database}}

[token]
provider = fernet
