[DEFAULT]
debug = True
log_dir = {{ log_dir }}/keystone

[database]
connection = mysql+pymysql://keystone:{{ db_passwords.keystone }}@{{ db_host }}/{{keystone_database}}

[token]
provider = fernet

[fernet_tokens]
key_repository = {{ keystone_paths.fernet_keys }}
