[ml2]
type_drivers = {{type_drivers}}
mechanism_drivers = {{ml2_mechanism_driver}}
tenant_network_types =
extension_drivers = port_security

[securitygroup]
enable_ipset = True

[ml2_type_flat]
flat_networks = provider
