[DEFAULT]
transport_url = rabbit://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ controller_host }}
debug = True
my_ip = {{ ansible_default_ipv4 }}
use_neutron = True
firewall_driver = nova.virt.firewall.NoopFirewallDriver

[api]
auth_strategy = keystone

[api_database]
connection = mysql+pymysql://nova:{{ db_passwords.nova }}@{{ controller_host }}/{{ nova_api_database }}

[database]
connection = mysql+pymysql://nova:{{ db_passwords.nova }}@{{ controller_host }}/{{ nova_database }}

[keystone_authtoken]
auth_uri = http://{{ controller_host }}:5000
auth_url = http://{{ controller_host }}:35357
memcached_servers = {{ controller_host }}:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = nova
password = {{ users.nova.password }}

[vnc]
enabled = True
vncserver_listen = $my_ip
vncserver_proxyclient_address = $my_ip

[glance]
api_servers = http://{{ controller_host }}:9292

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[placement]
os_region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ controller_host }}:35357/v3
username = placement
password = {{ users.placement.password }}
