set -x OS_PROJECT_DOMAIN_NAME default
set -x OS_USER_DOMAIN_NAME default
set -x OS_PROJECT_NAME admin
set -x OS_USERNAME admin
set -x OS_PASSWORD {{ admin_password }}
set -x OS_AUTH_URL http://controller:35357/v3
set -x OS_IDENTITY_API_VERSION 3
set -x OS_IMAGE_API_VERSION 2
